# NOTE:
# It is considered good practice to include test files in the source
# distribution, as well as the files used to run them. It allows packagers
# and users to run the tests locally to ensure the package is complete and
# working.

# Some repository metadata:
include LICENCE README.md CHANGELOG.md BACKLOG.md

# Some defaults and samples:
include config_sample.yml default_abbreviations.txt

global-exclude *.py[co]
